body {
    background-color: rgb(34, 34, 34);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact {
    color: rgb(200, 200, 200);
}

#contact:hover {
    color: white;
}

.main-section {
    
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: white;
    margin: .7em auto;
    text-align: center;
    display: block;
}

.where {
    margin: 0 1.5em;
    text-align: justify;
}