@font-face {
    font-family: 'Menlo';
    src: url('../fonts/Menlo-Regular.ttf');
}
@font-face {
    font-family: 'Pixelade';
    src: url('../fonts/pixelade-webfont.woff');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.hamburger {
    width: 45px;
    height: 45px;
    padding: 10px;
    position: fixed;
    left: 50vw;
    display: none;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.5s ease;
}

.lines {
    position: relative; 
}

.lines,
.lines::before,
.lines::after {
    background-color: rgb(255, 220, 24);
    border-radius: 25px;
    height: 3px;
    width: 100%;
}

.lines::before,
.lines::after {
    content: '';
    position: absolute;
}

.lines::before {
    top: -10px;
}

.lines::after {
    top: 10px
}

.nav-controller {
    margin: 0 3rem;
}

.nav-controller-2 {
    max-width: 745px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    margin: 0 5rem;
    font-family: 'Quicksand', sans-serif;
}

.navigation ul {
    text-decoration: none;
    display: flex;
    flex: 1 1 auto;
    padding: 0;
}

.navigation ul a {
    flex: 0 1 100%;
    margin: 0 1rem;

    text-decoration: none;
    text-align: center;
}

.navigation ul a li {
    list-style: none;
    color: rgb(255, 220, 24);
    font-size: 1.2rem;
}

.navigation ul a li:hover {
    color: white;
    position: relative;
    top: .5rem;
}

.navigation ul a li:hover .star {
    opacity: initial;
}

.navigation ul a li div {
    position: relative;
    display: flex;
    flex: 0 0 auto;
}

.star {
    width: 3rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -1rem;
    opacity: 0;
}

.header-text-left, .header-text-right {
    font-family: 'Menlo', sans-serif;
    margin: auto 0;
    font-size: .6rem;
    color: rgb(85, 85, 85);
}

.header-text-left {
    text-align: right;
    min-width: 41px;
}

.header-text-right {
    text-align: left;
    min-width: 46px;
}

@media (max-width: 767.98px) {
    .nav-controller {
        margin: 0 1rem;
    }

    .nav-controller-2 {
        max-width: 438px;
    }

    .navigation {
        flex: 0 1 20%;
        justify-content: center;
        margin: 0 .5rem;
    }

    .navigation ul a {
        margin: 0 .4rem;
    }

    .navigation ul a li {
        font-size: 1rem;
    }

    .star {
        width: 2.7rem;
    }
}

@media (max-width: 500px) {

    .header-text-left, .header-text-right {
        /* display: none; */
    }

    .hamburger {
        display: none;
    }
}