/* ------- HAMBURGER -------- */
 
.hamburger {
    width: 35px;
    height: 45px;
    padding: 10px;
    position: sticky;
    margin: 0 auto;
    display: none;
    z-index: 2;
}

.wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.5s ease;
}

.lines {
    position: relative; 
}

.lines,
.lines::before,
.lines::after {
    background-color: rgb(255, 220, 24);
    border-radius: 25px;
    height: 3px;
    width: 100%;
}

.lines::before,
.lines::after {
    content: '';
    position: absolute;
}

.lines::before {
    top: -10px;
}

.lines::after {
    top: 10px
}

/* ------------------------------ */

.navigation {
    display: flex;
    z-index: 2;
}

nav {
    margin: 2vmin auto;
    display: flex;
    gap: 2rem;
    position: relative;
}

.a-wrapper {
    position: relative;
}

.a-wrapper img {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
    object-fit: cover;
    z-index: -1;
}

.a-wrapper:hover img {
    opacity: 1;
}

nav a {
    text-decoration: none;
    color: var(--clr-secondary);
    font-size: 2.5vmin;
}

.a-wrapper:hover a {
    color: white !important
}

nav::before {
    content: "<nav>";
    font-family: 'Menlo', sans-serif;
    font-size: .7rem;
    color: var(--clr-code);
    margin: auto 0;
}

nav::after {
    content: "</nav>";
    font-family: 'Menlo', sans-serif;
    font-size: .7rem;
    color: var(--clr-code);
    margin: auto 0;
}

@media (max-width: 550px) {
    .hamburger {
        display: block;
    }
    .navigation {
        position: relative;
        margin: 0;
    }
    nav {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        flex-direction: column;
        text-align: center;
    }
    nav a {
        font-size: 5vmin;
    }
    nav::before, nav::after {
        display: none;
    }
}

.nav-bkg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-background);
    z-index: 1;
    opacity: 0;
}