.c-acc {
    color: rgb(255, 220, 24);
}
.code-grey {
    color: rgb(93, 93, 93);
}

#portfolio:hover {
    color: white;
}

.portfolio-nav {
    margin: 1em 5em;
}

.portfolio-nav h1 {
    content: "function";
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 4rem;
    font-weight: 400;
    display: block;
    margin: 0 1em;
}

.portfolio-nav h1::before {
    content: "function";
    font-family: 'Menlo', sans-serif;
    color: rgb(255, 220, 24);
    font-size: 2.5rem;
    display: block;
    margin: 0 -1em;
}

.portfolio-nav h1::after {
    content: "{";
    font-family: 'Menlo', sans-serif;
    color: rgb(59, 59, 59);
    font-size: 2rem;
    padding: 0 0.5em;
}

.end-curly {
    font-family: 'Menlo', sans-serif;
    color: rgb(59, 59, 59);
    font-size: 2rem;
    margin: 0 2em;
}

.semi {
    font-family: 'Menlo', sans-serif;
    font-size: 3rem;
    color: rgb(59, 59, 59);
}

h2 {
    font-family: 'Menlo', sans-serif;
    color: rgb(59, 59, 59);
}

.portfolio-nav li {
    font-size: 5rem;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    margin: 0 1em;
}

.portfolio-nav li a {
    text-decoration: none;
    color: white;
    position: relative;
}

.portfolio-nav li a:hover {
    transition: 0.35s linear;
    color: rgb(255, 220, 24);
}

.portfolio-nav li a::after {
    content: '';
    position: absolute;
    left: 0; bottom: 0; right: 0;
    height: 5px;
    transition: 0.35s linear;
    border-radius: 25px;
}

.portfolio-nav li a:hover::after {
    background-color: rgb(255, 220, 24);
    left: 20; right: 0;
    width: 100%;
}

.empty-space {
    text-align: center;
    min-width: 100%;
    margin: 0 auto;
    padding: 2em 0;
    font-family: 'Menlo', sans-serif;
    color: rgb(59, 59, 59);
}

.highlighted-projects {
    margin: 1em 5em;
}

.highlighted-projects h1 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 4rem;
    font-weight: 400;
    margin: 0 1em;
}

.highlighted-projects h1::before {
    content: "function";
    font-family: 'Menlo', sans-serif;
    color: rgb(255, 220, 24);
    font-size: 2.5rem;
    display: block;
    margin: 0 -1em;
}

.highlighted-projects h1::after {
    content: "{";
    font-family: 'Menlo', sans-serif;
    color: rgb(59, 59, 59);
    font-size: 2rem;
    padding: 0 0.5em;
}

.p5Canvas {
    position: fixed; 
    z-index: -2; 
    top: 0; 
    left: 0;
    width: 100vw !important;
}

.highlighted-projects-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 3em;
    margin: 2em auto;
    max-width: calc(100% - 8em);
}

.project-square {
    border: 2px solid white;
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
}

.project-square-contents {
    margin: 0.4em 0.5em;
    position: absolute;
    top: 0;
    left: 0;
}

.project-title {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.project-description {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0;
}

.br-medium {
    display: block;
    margin-bottom: 1rem;
}

.project-square:hover {
    border: 2px solid rgb(255, 220, 24);
}

.project-square:hover .project-title, .project-square:hover .project-description {
    color: rgb(255, 220, 24);
}

@media (max-width: 1154px) {

    .highlighted-projects h1, .portfolio-nav li  {
        font-size: 4rem;
        width: 100vw;
    }

    .portfolio-nav h1 {
        font-size: 3.5rem;
    }

    .highlighted-projects h1::before,
    .portfolio-nav h1::before {
        font-size: 3rem;
    }

   .portfolio-nav h2, .highlighted-projects h2 {
        font-size: 2rem;
   }

   .empty-space {
    font-size: .8rem;
   }

   .portfolio-nav h1::after, .end-curly, .highlighted-projects h1::after {
        font-size: 1rem;
   }
}

@media (max-width: 875px) {

    .portfolio-nav {
        margin-left: 2em;
    }

    .portfolio-nav, .highlighted-projects {
        margin: 0 4em;
    }

    .portfolio-nav ul li {
        padding: 0;
    }

    .highlighted-projects h1, .portfolio-nav li, .portfolio-nav h1 {
        font-size: 3rem;
    }

    .portfolio-nav li a::after {
        height: 3px; 
    }

    .portfolio-nav h2, .highlighted-projects h2 {
        font-size: 1rem;
   }

   .highlighted-projects h1::before,
   .portfolio-nav h1::before {
        font-size: 1.5rem;
    }  

    .empty-space {
        font-size: .5rem;
    }

    .semi {
        font-size: 2rem;
    }
}

@media (max-width: 670px) {
    .highlighted-projects h1, .portfolio-nav li, .portfolio-nav h1 {
        font-size: 2rem;
    }
}

@media (max-width: 530px) {

    .portfolio-nav {
        margin: 0 1em;
    }


    .highlighted-projects h1, .portfolio-nav li, .portfolio-nav h1 {
        font-size: 2rem;
    }

    .portfolio-nav ul {
        padding-right: 0;
        padding-left: 1em;
    }

    .portfolio-nav h2, .highlighted-projects h2 {
        font-size: .8rem;
    }

    .highlighted-projects h1::before, .portfolio-nav h1::before {
        font-size: 1rem;
    } 

    .portfolio-nav li a::after {
        height: 2px; 
    }

    .highlighted-projects {
        margin: 1em 2em;
    }

    .semi {
        font-size: 1.5rem;
    }

}