body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(29, 29, 29);
}

.title {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 10vmin;
    margin: 0 0;
    padding: 0;
}

.sub-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 200;
    font-size: 5vmin;
    color: rgb(144, 144, 144);
    margin: .3rem 0;
    padding: 0 0;
}

.code {
    font-family: 'Menlo', sans-serif;
    font-size: .6rem;
    color: rgb(85, 85, 85);
    margin: 0;
    padding: 0;
}

.code-push {
    margin-left: 1.5rem;
}

#intro {
    height: 70vmin;
    display: flex;
}

#sub-intro {
    text-align: center;
    margin: auto auto;
}

#sub-intro-col-2 {
    margin: 1rem 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 4em;
    max-width: 1000px;
    margin: 5vmin auto;
    animation-duration: 2s;
    opacity: 0;
}

.content img {
    margin: auto auto;
    width: 100%;
}

.content-box {
    margin: 0 auto;
    padding: 0;
    border: 2px solid white;
    z-index: -1;
    animation-duration: 4s;
    height:fit-content;
}

.content-box-title {
    margin-bottom: 3em;
}

.content-box-title h2 {
    background-color: white;
    padding: 0.5em;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    position: relative;
    top: 0.5em; left: -1em;
    max-width: 70%;
    animation-duration: 2s;
    opacity: 0;
}

.content-box p {
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin: 1.5em;
}

.arrow-container {
    display: flex;
    justify-content: center;
}

.arrow {
    max-width: 25px;
    position: relative;
    transform: translateY(-70%);
    animation: arrow-animation 1s linear 2s infinite alternate;
}

@keyframes arrow-animation {
    from {transform: translateY(-70%);}
    to {transform: translateY(-20%);}
}

@keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
}

#port-con {
    border: 2px solid white;
    display: block;
}

.port-con-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    margin: 1em;
}

.port-item {
    padding: .2em;
    text-align: center;
    position: relative;
}

.port-con-box a {
    text-decoration: none;
    color: var(--clr-primary);
    opacity: 1;
}

.port-con-box a h2 {
    font-weight: 300;
}

.port-item-bkg {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -10;
    opacity: .3;
}

@media (max-width: 1070px) {
    .content {
        margin: 6vmin;
    }
}

@media (max-width: 790px) {
    .content-box {
        margin: 2em auto;
    }
    .content img {
        margin: auto auto;
    }
    .content-box-title h2 {
        font-size: 2rem;
        top: 0.7em;
    }
    .content-box p {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .content {
        gap: 0;
    }
    .content img {
        width: 100%;
        margin: 0;
    }
    .content-box-title h2 {
        font-size: 1.5rem;
        top: 1em;
    }
}

@keyframes content-box-title_right {
    from {left: -50vw; opacity: 0%;};
    to {left: -1em; opacity: 100%;};
}

@keyframes content-box-title_right_out {
    from {left: -1em; opacity: 100%;};
    to {left: -50vw; opacity: 0%;};
}

@keyframes content-box_left {
    from {opacity: 0%;};
    to {opacity: 100%;};
}

@keyframes content-box_left_out {
    from {opacity: 100%;};
    to {opacity: 0%;};
}

@keyframes name-animation {
    from {left: -1em; opacity: 100%;};
    to {left: -50vw; opacity: 0%;};
}

#defaultCanvas0 {
    position: absolute; 
    z-index: -2; 
    top: 56; 
    left: 0;
    height: 60vmin;
}

#ill .port-item-bkg {
    background-image: url(/galleries/aeslinpuphub/images/8.jpg);
    background-size: 250%;
    background-position: 49% 40%;
}

#gd .port-item-bkg {
    background-image: url(/galleries/images/3.jpg);
    background-size: 250%;
    background-position: 40% 50%;
}

#cd .port-item-bkg {
    background-image: url(/galleries/images/5.jpg);
    background-size: 200%;
    background-position: 27% 20%;
}

#p1 .port-item-bkg {
    background-image: url(/galleries/images/7.jpg);
    background-size: 230%;
    background-position: 27% 25%;
}

#p2 .port-item-bkg {
    background-image: url(/galleries/images/12.jpg);
    background-size: 200%;
    background-position: 27% 20%;
}

#p3 .port-item-bkg {
    background-image: url(/galleries/images/13.jpg);
    background-size: 200%;
    background-position: 27% 30%;
}