@font-face {
    font-family: 'Menlo';
    src: url('fonts/Menlo-Regular.ttf');
}
@font-face {
    font-family: 'Pixelade';
    src: url('fonts/pixelade-webfont.woff');
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(27, 27, 27);
}

.nav-controller {
    margin: 0 3rem;
}

.nav-controller-2 {
    max-width: 745px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    margin: 0 5rem;
    font-family: 'Quicksand', sans-serif;
}

.navigation ul {
    text-decoration: none;
    display: flex;
    flex: 1 1 auto;
    padding: 0;
}

.navigation ul a {
    flex: 0 1 100%;
    margin: 0 1rem;

    text-decoration: none;
    text-align: center;
}

.navigation ul a li {
    list-style: none;
    color: rgb(255, 220, 24);
    font-size: 1.2rem;
}

.navigation ul a li:hover {
    color: white;
    position: relative;
    top: .5rem;
}

.navigation ul a li:hover .star {
    opacity: initial;
}

.navigation ul a li div {
    position: relative;
    display: flex;
    flex: 0 0 auto;
}

.star {
    width: 3rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -1rem;
    opacity: 0;
}

.header-text-left, .header-text-right {
    font-family: 'Menlo', sans-serif;
    margin: auto 0;
    font-size: .6rem;
    color: rgb(85, 85, 85);
}

.header-text-left {
    text-align: right;
    min-width: 41px;
}

.header-text-right {
    text-align: left;
    min-width: 46px;
}

@media (min-width: 768px) {

}

@media (max-width: 767.98px) {
    .nav-controller {
        margin: 0 1rem;
    }

    .nav-controller-2 {
        max-width: 438px;
    }

    .navigation {
        flex: 0 1 20%;
        margin: 0 .5rem;
    }

    .navigation ul a {
        margin: 0 .4rem;
    }

    .navigation ul a li {
        font-size: 1rem;
    }

    .star {
        width: 2.7rem;
    }
}

/* CANVAS */

#drawing {
    /* margin-top: 1rem; fix margin for canvas */
    background-color: rgb(23, 23, 23);
    width: 100vw;
    height: 35rem;
    /* position: absolute; */
}

.title {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 4rem;
    margin: 0 0;
    padding: 0;
}

.sub-title {
    font-family: 'Menlo', sans-serif;
    font-weight: 200;
    color: rgb(144, 144, 144);
    margin: .3rem 0;
    padding: 0 0;
}

.code {
    font-family: 'Menlo', sans-serif;
    font-size: .6rem;
    color: rgb(85, 85, 85);
    margin: 0;
    padding: 0;
}

.code-push {
    margin-left: 1.5rem;
}

#intro {
    display: flex;
}

#sub-intro {
    position: absolute;
    top: 13rem;
    left: 9rem;
    margin: 0;
    padding: 0;
}

#sub-intro-col-2 {
    margin: 1rem 0;
}